.background-image-detail {
  min-height: 100vh;
  background-image: url("../../assets/myimg/drew-beamer-kUHfMW8awpE-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: fadeIn 0.5s;
}

.detail-description-wrapper.active {
  max-height: 500px;
  opacity: 1;
}

.detail-description-wrapper {
  max-height: 0;
  opacity: 0;
  transition: all 0.5s ease-out;
  overflow: hidden;
}

.project-box-wrapper {
  border-bottom: 1px solid rgba(85, 85, 85, 0.222);
}

.detail-button-wrapper {
  width: 50%;
}

.back-button-detail-wrapper {
  width: 50%;
}

.detail-button-wrapper button {
  background-color: rgb(76, 76, 76);
  border: none;
  padding: 10px 20px 10px 20px;
  color: white;
  border-bottom-right-radius: 1px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  transition: 0.3s;
  transform: translateY(0);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  animation: fadeIn 0.5s;
}

.detail-button-wrapper button:hover {
  background-color: rgb(214, 214, 214);
  color: black;
  box-shadow: 8px 8px 8px black;
  transform: translateY(-5px);
}

.detail-button-wrapper button:active {
  background-color: rgb(214, 214, 214);
  color: black;
  box-shadow: 0 0;
  transform: translateY(0);
}

.back-button-size-detail {
  font-size: 34px;
}

.back-button-detail {
  padding: 0 0 0 0;
  background-color: rgba(255, 255, 255, 0);
  color: gray;
  border: rgba(255, 255, 255, 0);
  transition: 0.5s;
  animation: fadeIn 0.5s;
}

.back-button:hover {
  color: black;
}

.text-title-detail {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}
.text-description-detail {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(85, 85, 85);
  text-align: justify;
  line-height: 28px;
}

.web-link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(85, 85, 85);
  text-align: justify;
}

.img-project-detail img {
  max-width: 100%;
}

@media (max-width: 1030px) {
  .detail-description-wrapper.active {
    max-height: 500px;
    opacity: 1;
  }

  .detail-description-wrapper {
    max-height: 0;
    opacity: 0;
    transition: all 0.5s ease-out;
    overflow: hidden;
  }

  .project-box-wrapper {
    border-bottom: 1px solid rgba(85, 85, 85, 0.222);
  }

  .detail-button-wrapper button {
    padding: 10px 10px 10px 10px;
    font-size: 0.8rem;
  }

  .detail-button-wrapper button:hover {
    transform: translateY(-5px);
  }

  .detail-button-wrapper button:active {
    transform: translateY(0);
  }

  .detail-button-wrapper {
    width: 50%;
  }

  .back-button-detail-wrapper {
    width: 50%;
  }

  .back-button-detail {
    padding: 0 0 0 0;
  }

  .text-title-detail {
    font-size: 1.5rem;
  }
  .text-description-detail {
    font-size: 0.9rem;
    text-align: justify;
    line-height: 28px;
  }

  .web-link {
    font-size: 0.9rem;
    text-align: justify;
  }

  .img-project-detail img {
    max-width: 100%;
  }
}

@media (max-width: 770px) {
  .detail-description-wrapper.active {
    max-height: 500px;
    opacity: 1;
  }

  .detail-description-wrapper {
    max-height: 0;
    opacity: 0;
    transition: all 0.5s ease-out;
    overflow: hidden;
  }

  .project-box-wrapper {
    border-bottom: 1px solid rgba(85, 85, 85, 0.222);
  }

  .detail-button-wrapper button {
    padding: 10px 10px 10px 10px;
    font-size: 0.7rem;
    width: 36%;
  }

  .detail-button-wrapper button:hover {
    transform: translateY(-5px);
  }

  .detail-button-wrapper button:active {
    transform: translateY(0);
  }

  .detail-button-wrapper {
    width: 50%;
  }

  .back-button-detail-wrapper {
    width: 50%;
  }

  .back-button-size-detail {
    font-size: 28px;
  }

  .back-button-detail {
    padding: 0 0 0 0;
  }

  .text-title-detail {
    font-size: 1.3rem;
  }

  .text-description-detail {
    font-size: 0.7rem;
    text-align: justify;
    line-height: 28px;
  }

  .web-link {
    font-size: 0.7rem;
    text-align: justify;
  }

  .img-project-detail img {
    max-width: 100%;
  }
}

@media (max-width: 430px) {
  .detail-description-wrapper.active {
    max-height: 500px;
    opacity: 1;
  }

  .detail-description-wrapper {
    max-height: 0;
    opacity: 0;
    transition: all 0.5s ease-out;
    overflow: hidden;
  }

  .project-box-wrapper {
    border-bottom: 1px solid rgba(85, 85, 85, 0.222);
  }

  .detail-button-wrapper button {
    padding: 10px 10px 10px 10px;
    font-size: 0.7rem;
    width: 70%;
  }

  .detail-button-wrapper button:hover {
    transform: translateY(-5px);
  }

  .detail-button-wrapper button:active {
    transform: translateY(0);
  }

  .detail-button-wrapper {
    width: 50%;
  }

  .back-button-detail-wrapper {
    width: 50%;
  }

  .back-button-size-detail {
    font-size: 28px;
  }

  .back-button-detail {
    padding: 0 0 0 0;
  }

  .text-title-detail {
    font-size: 1.3rem;
  }

  .text-description-detail {
    font-size: 0.7rem;
    text-align: justify;
    line-height: 28px;
  }

  .web-link {
    font-size: 0.7rem;
    text-align: justify;
  }

  .img-project-detail img {
    max-width: 100%;
  }
}

@media (max-width: 380px) {
  .detail-description-wrapper.active {
    max-height: 500px;
    opacity: 1;
  }

  .detail-description-wrapper {
    max-height: 0;
    opacity: 0;
    transition: all 0.5s ease-out;
    overflow: hidden;
  }

  .project-box-wrapper {
    border-bottom: 1px solid rgba(85, 85, 85, 0.222);
  }

  .back-button-size-detail {
    font-size: 28px;
  }

  .detail-button-wrapper button {
    padding: 10px 10px 10px 10px;
    font-size: 0.7rem;
    width: 75%;
  }

  .detail-button-wrapper button:hover {
    transform: translateY(-5px);
  }

  .detail-button-wrapper button:active {
    transform: translateY(0);
  }

  .detail-button-wrapper {
    width: 50%;
  }

  .back-button-detail-wrapper {
    width: 50%;
  }

  .back-button-detail {
    padding: 0 0 0 0;
  }

  .text-title-detail {
    font-size: 1.3rem;
  }

  .text-description-detail {
    font-size: 0.7rem;
    text-align: justify;
    line-height: 28px;
  }

  .web-link {
    font-size: 0.7rem;
    text-align: justify;
  }

  .img-project-detail img {
    max-width: 100%;
  }
}

@media (max-width: 325px) {
  .detail-description-wrapper.active {
    max-height: 500px;
    opacity: 1;
  }

  .detail-description-wrapper {
    max-height: 0;
    opacity: 0;
    transition: all 0.5s ease-out;
    overflow: hidden;
  }

  .project-box-wrapper {
    border-bottom: 1px solid rgba(85, 85, 85, 0.222);
  }

  .back-button-size-detail {
    font-size: 28px;
  }

  .detail-button-wrapper button {
    padding: 10px 10px 10px 10px;
    font-size: 0.7rem;
    width: 90%;
  }

  .detail-button-wrapper button:hover {
    transform: translateY(-5px);
  }

  .detail-button-wrapper button:active {
    transform: translateY(0);
  }

  .detail-button-wrapper {
    width: 50%;
  }

  .back-button-detail-wrapper {
    width: 50%;
  }

  .back-button-detail {
    padding: 0 0 0 0;
  }

  .text-title-detail {
    font-size: 1.3rem;
  }

  .text-description-detail {
    font-size: 0.7rem;
    text-align: justify;
    line-height: 28px;
  }

  .web-link {
    font-size: 0.7rem;
    text-align: justify;
  }

  .img-project-detail img {
    max-width: 100%;
  }
}
