.navbar-wrapper {
  padding: 15px 0 15px 0;
  background-color: rgba(117, 111, 111, 0.612);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

.navLink {
  text-decoration: none;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: black;
  letter-spacing: 1px;
  transition: 1s;
  position: relative;
  font-size: 1rem;
}

.navLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 100%;
  height: 2px;
  background-color: black;
  opacity: 0;
  transform: scaleX(0);
  transition: all 0.5s;
}

.navLink-active::after {
  color: black;
  opacity: 1;
  transform: scaleX(1);
}

.navLink:hover::after {
  color: black;
  opacity: 1;
  transform: scaleX(1);
}

.navLink:active::after,
.navBrand:active::after {
  color: black;
  opacity: 1;
  transform: scaleX(1);
}

.navLink:hover {
  color: black;
}

.navBrand {
  text-decoration: none;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.759);
  letter-spacing: 1px;
  position: relative;
  font-size: 1.3rem;
  padding: 8px 13px 8px 13px;
  border: 3px solid rgba(255, 255, 255, 0.753);
  border-radius: 100%;
  transition: 0.4s;
}

.navBrand:hover {
  color: black;
  border: 3px solid black;
}

.back-button {
  z-index: 9999999;
  color: white;
  position: fixed;
  right: 4.4rem;
  display: block;
  visibility: visible;
}

.isActive-navbar-pc {
  display: block;
  margin-left: auto;
}

.isActive-navbar-mobile {
  display: none;
}

.navbar-mobile-area.navbar-mobile-active {
  transform: scale(50);
}

.navbar-mobile-area {
  transform: scale(0);
  top: 0rem;
  right: 3.2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  position: fixed;
  background-image: radial-gradient(gray, white);
  z-index: 999999;
  transition: all 0.4s;
}

.navLink-mobile-wrapper.navLink-mobile-wrapper-active {
  transform: scale(1);
}

.navLink-mobile-wrapper {
  display: flex;
  flex-direction: column;
  z-index: 9999999;
  position: fixed;
  right: 33%;
  top: 25%;
  text-align: center;
  transform: scale(0);
  transition: all 0.3s;
}

.navLink-mobile {
  text-decoration: none;
  font-size: 2.3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  background-color: white;
  border-radius: 50px;
  border: 3px solid white;
  padding: 5px 50px 5px 50px;
  margin-bottom: 25px;
  color: black;
  transition: 0.4s;
}

.navLink-mobile:hover {
  box-shadow: 10px 10px black;
  transform: translateY(-7px);
}

.navLink-mobile:active {
  box-shadow: 0 0 black;
  transform: translateY(0);
}

@media (max-width: 1030px) {
  .navLink {
    font-size: 0.8rem;
  }
}

@media (max-width: 770px) {
  .isActive-navbar-mobile {
    display: block;
  }

  .isActive-navbar-pc {
    display: none;
  }
}

@media (max-width: 430px) {
  .back-button {
    right: 1.5rem;
    top: 1.6rem;
  }

  .navbar-mobile-area {
    top: 0rem;
    right: 3.2rem;
  }

  .navLink-mobile-wrapper {
    right: 18%;
    top: 25%;
  }

  .navLink-mobile {
    font-size: 2rem;
    margin-bottom: 25px;
  }
}

@media (max-width: 380px) {
  .back-button {
    right: 1.5rem;
    top: 1.6rem;
  }

  .navbar-mobile-area {
    top: 0rem;
    right: 3.2rem;
  }

  .navLink-mobile-wrapper {
    right: 17%;
    top: 28%;
  }

  .navLink-mobile {
    font-size: 1.8rem;
    margin-bottom: 25px;
  }
}

@media (max-width: 325px) {
  .back-button {
    right: 1.5rem;
    top: 1.6rem;
  }

  .navbar-mobile-area {
    top: 0rem;
    right: 3.2rem;
  }

  .navLink-mobile-wrapper {
    right: 15%;
    top: 28%;
  }

  .navLink-mobile {
    font-size: 1.5rem;
    margin-bottom: 25px;
  }
}
